<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Nancy" version="1.1" targetFramework="net451" />
  <package id="Nancy.Bootstrappers.Unity" version="1.1" targetFramework="net451" />
  <package id="Nancy.Owin" version="1.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Serilog" version="1.4.204" targetFramework="net40" requireReinstallation="True" />
  <package id="Serilog.Extras.Topshelf" version="1.4.204" targetFramework="net451" />
  <package id="Topshelf" version="3.1.4" targetFramework="net40" />
  <package id="Unity" version="2.1.505.0" targetFramework="net451" />
</packages>